body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}
h1 {
    color: #333;
}

nav {
    margin: 20px 0; /* Отступы сверху и снизу для навигации */
}

.nav-button {
    display: inline-block; /* Отображение как блочный элемент */
    padding: 10px 20px; /* Отступы внутри кнопки */
    margin: 5px; /* Отступы между кнопками */
    background-color: #0f1b27; /* Цвет фона кнопки */
    color: white; /* Цвет текста */
    text-decoration: none; /* Убираем подчеркивание */
    border-radius: 5px; /* Скругленные углы */
    transition: background-color 0.3s; /* Плавный переход цвета фона */
        
}

.nav-button:hover {
    background-color: #0056b3; /* Цвет фона при наведении */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}