<div class="navigation">
    <h3>Навигация для тестового режима</h3>
    <a href="{{ url_for('admin') }}" class="button">Администрация</a>
    <a href="{{ url_for('store:database') }}" class="button">База данных ассортимента</a>
    <a href="{{ url_for('primary') }}" class="button">На главную</a>
    <a href="{{ url_for('store') }}" class="button">Космический магазин</a>
    <a href="{{ url_for('store:cart') }}" class="button">Корзина</a>
    <a href="{{ url_for('posts') }}" class="button">Статьи про космос</a>
    <a href="{{ url_for('sign_in') }}" class="button">Регистрация</a>
</div>
<hr>
